<div class="App">
  <!-- Форму, для вводу токена -->
  <form [formGroup]="tokenForm" (submit)="submitToken()">
    <input type="text" placeholder="Enter token" formControlName="token" />
    <button type="submit">Submit</button>
  </form>
  <div class="box">
    <!-- Блок, де будуть виводитися повідомлення -->
    <div class="messages">
      <div *ngFor="let user of messages" class="message">
        {{user.name}}: {{user.message}}
      </div>
    </div>

    <!-- Форму, для вводу повідомлення -->
    <form
      [formGroup]="messageForm"
      class="input-div"
      (submit)="submitMessage()"
    >
      <input type="text" placeholder="Type in text" formControlName="message" />
      <button type="submit">Send</button>
    </form>
  </div>
</div>
